openapi: 3.1.0

info:
  title: Indeed Mobile GraphQL API
  version: "1.0.0"
  description: |
    Client-side API specification for Indeed's undocumented GraphQL endpoint,
    the same one the official iOS/Android apps use. Reverse-engineered from
    the python-jobspy reference implementation
    (https://github.com/Bunsly/JobSpy, jobspy/indeed/) and confirmed live
    while building this package.

    ## Architecture

    A single POST endpoint, one GraphQL query type covering both operations
    this package needs:

    - `jobSearch` — keyword + location + filter search, cursor-paginated.
      Callers choose which subfields to request; this client asks for a
      lean field set for summaries (no `description`) to keep search
      responses small.
    - `jobData` — look up one or more jobs directly by opaque key (the same
      `key` field `jobSearch` results carry), requesting the full field set
      including `description.html`. This is the "detail" call; there is no
      separate REST-style `/jobs/{id}` path.

    Both operations share the same URL, headers, and auth — only the
    `query`/variables in the POST body differ — so unlike a typical multi-path
    REST API this spec cannot be generated into an ogen client (ogen models
    distinct paths per operation). The Go client is built with
    Khan/genqlient against a reverse-engineered `schema.graphql` (Indeed has
    no public SDL). Live-validated type names (via GraphQL validation errors
    and the `cmd/indeed` CLI): `JobSearchSortOrder`,
    `filters: [JobSearchFilterInput!]!`, `JobSearchLocationInput`,
    `jobData(jobKeys: [ID!])`, `Salary.range` → `RangeType` / `Range`.

    ## Key Behaviors

    - **No user authentication required**, but every request must carry a
      static `indeed-api-key` header. The key embedded in python-jobspy's
      `constant.py` is long-lived and shared publicly across every jobspy
      installation; it is not a per-caller secret, and this client reuses it
      exactly like jobspy does — omitting it or sending an arbitrary value
      returns an auth error, this is not a value to invent yourself.
    - **`indeed-co` header selects the country catalogue.** It must match
      the country implied by `location`'s `where` text (e.g. `indeed-co: TW`
      when searching `"Taipei"`); sending an unrelated `indeed-co` still
      returns `HTTP 200` but with irrelevant or empty results, not an error —
      there is no server-side validation to catch a mismatch. See `country.go`
      for the name→(domain, indeed-co) table this client derives both values
      from together, so they can't drift apart independently.
    - **GraphQL validation is real and strict.** Unknown fields/arguments
      return `HTTP 200` with a `GRAPHQL_VALIDATION_FAILED` error array and no
      `data` key — never a 4xx. A caller must check for a populated `errors`
      array before trusting an empty `data.jobSearch.results`.
    - **No dedicated "not found" response.** Requesting `jobData` with a job
      key that doesn't exist (expired, removed, or never valid) returns
      `HTTP 200` with `data.jobData.results: []` — an empty list, not a 404
      or an error entry.
    - **`jobSearch` cannot filter by key.** There is no `jobKeys`/`jobKey`
      argument on `jobSearch` (confirmed live: it 400s as an unknown
      argument) — `jobData` is the only way to fetch a specific job, and it
      takes a list of keys in one call rather than one key per request.
    - **Compensation is usually null.** Both `compensation.baseSalary` and
      `compensation.estimated` are commonly `null` on real postings; treat
      absence as "not disclosed", not as a parsing failure.
    - **Pagination** is cursor-based, not offset-based:
      `pageInfo.nextCursor` from one response feeds back as the `cursor`
      argument on the next request; `null` means no more pages. `limit`
      caps out at 100 per call in the reference implementation.
    - **Filters are mutually exclusive in the reference query shape**: the
      python-jobspy implementation this client mirrors sends at most one of
      a date filter (`dateOnIndeed`), an Easy-Apply keyword filter, or a
      composite job-type/remote keyword filter per request — never several
      combined — because the API's `filters` argument was only ever
      exercised that way building the reference implementation, not because
      combining them is known to fail.

servers:
  - url: https://apis.indeed.com
    description: Indeed GraphQL API (mobile-app surface)

paths:
  /graphql:
    post:
      operationId: graphqlQuery
      summary: Execute a GraphQL query (jobSearch or jobData)
      description: |
        One endpoint for every query this client sends. The request body's
        `query` field selects the operation: a `jobSearch(...)` query for
        keyword/location search, or a `jobData(jobKeys: [...])` query for
        detail-by-key lookup. See the top-level description for why both
        share one path instead of being modeled as separate operations.
      parameters:
        - name: indeed-api-key
          in: header
          required: true
          description: |
            Static key required on every request. Reused verbatim from the
            python-jobspy reference implementation (see Key Behaviors); not
            a value scoped to this integration.
          schema:
            type: string
          example: "161092c2017b5bbab13edb12461a62d5a833871e7cad6d9d475304573de67ac8"
        - name: indeed-co
          in: header
          required: true
          description: |
            Two-letter country catalogue selector, must correspond to the
            country implied by the request's `location.where` text. See
            Key Behaviors for the consequence of a mismatch.
          schema:
            type: string
          example: "TW"
        - name: indeed-locale
          in: header
          required: true
          schema:
            type: string
            default: en-US
        - name: user-agent
          in: header
          required: true
          description: |
            Must resemble the official mobile app's UA string; a generic
            Go/library UA was not tested and jobspy's reference
            implementation always sends the app UA, so this client does too.
          schema:
            type: string
          example: "Mozilla/5.0 (iPhone; CPU iPhone OS 16_6_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 Indeed App 193.1"
        - name: indeed-app-info
          in: header
          required: true
          schema:
            type: string
          example: "appv=193.1; appid=com.indeed.jobsearch; osv=16.6.1; os=ios; dtype=phone"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: A full GraphQL query document, as a string.
            examples:
              jobSearch:
                summary: Keyword + location search, lean fields
                value:
                  query: |
                    query GetJobData {
                      jobSearch(what: "software engineer", location: {where: "Taipei", radius: 25, radiusUnit: MILES}, limit: 5, sort: RELEVANCE) {
                        pageInfo { nextCursor }
                        results {
                          trackingKey
                          job {
                            key
                            title
                            datePublished
                            location { countryCode admin1Code city formatted { long } }
                            compensation { estimated { currencyCode baseSalary { unitOfWork range { ... on Range { min max } } } } baseSalary { unitOfWork range { ... on Range { min max } } } currencyCode }
                            attributes { key label }
                            employer { relativeCompanyPageUrl name }
                          }
                        }
                      }
                    }
              jobData:
                summary: Detail-by-key lookup, full fields
                value:
                  query: |
                    query GetJobDetail {
                      jobData(jobKeys: ["9d503ca7fe211430"]) {
                        results {
                          job {
                            key
                            title
                            description { html }
                            location { countryName countryCode admin1Code city postalCode streetAddress formatted { short long } }
                            employer { relativeCompanyPageUrl name dossier { employerDetails { addresses industry employeesLocalizedLabel revenueLocalizedLabel briefDescription } images { squareLogoUrl } links { corporateWebsite } } }
                            recruit { viewJobUrl detailedSalary workSchedule }
                          }
                        }
                      }
                    }
      responses:
        "200":
          description: |
            Always HTTP 200, whether the query succeeded, matched nothing,
            or failed GraphQL validation — see Key Behaviors. A successful
            `jobSearch` response carries `data.jobSearch.{pageInfo,results}`;
            a successful `jobData` response carries
            `data.jobData.results[].job`, possibly an empty list. A failed
            one carries an `errors` array and no `data.jobSearch`/`jobData`
            key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
