openapi: 3.1.0

info:
  title: Lever Postings API (JSON consumer surface)
  version: "1.0.0"
  description: >
    Minimal JSON-consumer surface of the public, unauthenticated Lever
    Postings API (https://github.com/lever/postings-api, mirrored at
    case-study/postings-api). Lever is a multi-tenant ATS: every company's
    published postings live under a site slug (e.g. jobs.lever.co/leverdemo
    -> site "leverdemo"), and this one contract serves all tenants. A
    company lives on exactly one instance, global or EU; switch instances
    with the client's WithServerURL option.

    Deliberately out of scope: the POST apply endpoint (a write operation
    that needs an API key and submits real applications), the `group`
    parameter (changes the list response's top-level shape to
    `[{title, postings}]`; grouping is trivial client-side), and the
    HTML/iframe embedding features (`mode=html`, `mode=iframe`, `css`,
    `resize`). `mode` is modeled as a required single-value enum (`json`)
    so a response can never fall back to HTML.

    Response fields follow the official field table, corrected against
    live leverdemo responses: `createdAt` (epoch milliseconds) is returned
    by the API but missing from the official table; `salaryRange`,
    `salaryDescription`, and `salaryDescriptionPlain` are documented but
    absent on postings without salary data, so everything except `id` and
    `text` is optional.

servers:
  - url: https://api.lever.co
    description: Global instance (default).
  - url: https://api.eu.lever.co
    description: EU instance.

tags:
  - name: Postings
    description: Published job postings, namespaced by company site slug.

paths:
  /v0/postings/{site}:
    get:
      tags: [Postings]
      summary: List published postings for a site
      description: >
        Filter values are case-sensitive. Repeating a filter parameter ORs
        the values within that field, e.g.
        `?location=Oakland&location=Boston`.
      operationId: listPostings
      parameters:
        - name: site
          in: path
          required: true
          description: Company site slug, e.g. `leverdemo`.
          schema:
            type: string
          example: "leverdemo"
        - name: mode
          in: query
          required: true
          description: >
            Output mode, pinned to `json`. The upstream API also accepts
            `html` and `iframe`; those are web-embedding features and not
            modeled here.
          schema:
            type: string
            enum: [json]
        - name: skip
          in: query
          required: false
          description: Skip N postings from the start.
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          required: false
          description: Return at most N postings.
          schema:
            type: integer
            minimum: 1
        - name: location
          in: query
          required: false
          description: Filter by location; repeatable, values OR'ed.
          schema:
            type: array
            items:
              type: string
        - name: commitment
          in: query
          required: false
          description: Filter by commitment; repeatable, values OR'ed.
          schema:
            type: array
            items:
              type: string
        - name: team
          in: query
          required: false
          description: Filter by team; repeatable, values OR'ed.
          schema:
            type: array
            items:
              type: string
        - name: department
          in: query
          required: false
          description: >
            Filter by department, if the company uses departments;
            repeatable, values OR'ed.
          schema:
            type: array
            items:
              type: string
        - name: level
          in: query
          required: false
          description: Filter by level.
          schema:
            type: string
      responses:
        "200":
          description: Published postings matching the filters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Postings"
        default:
          description: >
            Any non-200 status. A 404 with `{ok: false, error: "Document
            not found"}` has been observed for an unknown site.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v0/postings/{site}/{postingId}:
    get:
      tags: [Postings]
      summary: Get one posting by id
      description: >
        Same schema as a list element. This endpoint only serves JSON
        upstream, so it takes no `mode` parameter.
      operationId: getPosting
      parameters:
        - name: site
          in: path
          required: true
          description: Company site slug, e.g. `leverdemo`.
          schema:
            type: string
          example: "leverdemo"
        - name: postingId
          in: path
          required: true
          description: Posting id from a list element's `id` field.
          schema:
            type: string
          example: "33538a2f-d27d-4a96-8f05-fa4b0e4d940e"
      responses:
        "200":
          description: The posting.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Posting"
        default:
          description: >
            Any non-200 status. A 404 with `{ok: false, error: "Document
            not found"}` has been observed for an unknown posting id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    Postings:
      type: array
      items:
        $ref: "#/components/schemas/Posting"

    Posting:
      type: object
      required: [id, text]
      properties:
        id:
          type: string
          description: Unique posting id.
        text:
          type: string
          description: Posting title.
        categories:
          $ref: "#/components/schemas/PostingCategories"
        country:
          type: string
          nullable: true
          description: >
            ISO 3166-1 alpha-2 country code, or null when unknown. Not
            filterable.
        createdAt:
          type: integer
          format: int64
          description: >
            Creation timestamp in epoch milliseconds. Returned by the live
            API; missing from the official field table.
        workplaceType:
          type: string
          description: >
            Primary workplace environment. Not filterable. The official
            docs list `unspecified`, `on-site`, `remote`, and `hybrid`,
            but live tenants have been observed returning `onsite` (no
            hyphen) too, so this is deliberately not a closed enum — one
            unexpected value would otherwise fail decoding for the whole
            page.
        opening:
          type: string
          description: Description opening (styled HTML).
        openingPlain:
          type: string
          description: Description opening (plaintext).
        description:
          type: string
          description: Combined opening and body (styled HTML).
        descriptionPlain:
          type: string
          description: Combined opening and body (plaintext).
        descriptionBody:
          type: string
          description: Body without opening (styled HTML).
        descriptionBodyPlain:
          type: string
          description: Body without opening (plaintext).
        lists:
          type: array
          description: Extra lists such as requirements and benefits.
          items:
            $ref: "#/components/schemas/PostingListEntry"
        additional:
          type: string
          description: Optional closing content (styled HTML); may be empty.
        additionalPlain:
          type: string
          description: Optional closing content (plaintext); may be empty.
        hostedUrl:
          type: string
          description: Lever-hosted posting page URL.
        applyUrl:
          type: string
          description: Lever-hosted application form URL.
        salaryRange:
          $ref: "#/components/schemas/SalaryRange"
        salaryDescription:
          type: string
          description: Optional salary range description (styled HTML).
        salaryDescriptionPlain:
          type: string
          description: Optional salary range description (plaintext).

    PostingCategories:
      type: object
      description: >
        The primary posting location is `location` and also appears in
        `allLocations`.
      properties:
        location:
          type: string
        commitment:
          type: string
        team:
          type: string
        department:
          type: string
        allLocations:
          type: array
          items:
            type: string

    PostingListEntry:
      type: object
      required: [text, content]
      properties:
        text:
          type: string
          description: List section name, e.g. "Qualifications".
        content:
          type: string
          description: Unstyled HTML of the list elements.

    SalaryRange:
      type: object
      properties:
        currency:
          type: string
        interval:
          type: string
        min:
          type: number
        max:
          type: number

    ErrorResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          description: Always false on errors.
        error:
          type: string
      description: >
        Observed error body, e.g. `{"ok": false, "error": "Document not
        found"}` with a 404 for an unknown site or posting id.
