openapi: 3.1.0

info:
  title: SAP SuccessFactors Career Site Builder (Classic)
  version: "1"
  description: |
    SAP SuccessFactors Recruiting Marketing has no public developer API for
    its career sites (the documented OData v2 API at
    https://api.sap.com/package/SuccessFactorsRecruiting/odata requires
    per-tenant OAuth/Basic Auth and "Recruiter Operator" permissions — it is
    not usable for anonymous public search). This spec is hand-derived from
    live traffic captured on jobs.sap.com on 2026-07-14 by driving the site
    in a browser and reading the network requests it fired, then replaying
    and varying those requests directly. It was cross-checked against
    jobs.adidas-group.com, jobs.kellanova.com, and jobs.eastman.com to
    confirm the endpoints are a shared platform feature, not a SAP-specific
    customization.

    ## Architecture

    Every SuccessFactors Career Site Builder (formerly "Jobs2Web", still
    branded `j2w` in static asset paths) tenant is reachable at its own
    custom domain — conventionally `jobs.<company>.com` or
    `careers.<company>.com` — fronting the same shared platform. There is no
    common host across tenants (unlike Greenhouse's `boards.greenhouse.io`
    or Lever's `jobs.lever.co`); the roster stores each company's full host.

    Search and job detail are server-side-rendered HTML — every filter or
    pagination change is a full-page GET with the state in the query string,
    the same SSR pattern used by Google Careers
    (`internal/provider/google`). The one exception is filter *facet
    values* (valid department/country/etc. choices and their live counts),
    which come from a small JSON POST endpoint.

    **Newer SF tenants may run a different, incompatible UI** (observed at
    the plain `jobs.sap.com` root before a search is run: a Stencil/web
    -components app calling `/services/jobs/options/facetValues/` for
    autocomplete but rendering results client-side with no equivalent SSR
    endpoint). This spec only covers the classic `/search/` and `/job/`
    HTML pages verified to exist on all four cross-checked tenants.

    ## Key Behaviors

    - **Pagination**: the results table always returns 25 rows regardless
      of the `startrow` offset requested; `startrow` is *not* required to be
      a multiple of 25 (`startrow=20` correctly returns rows 21–45), so
      callers needing a smaller page size just discard the extra rows.
    - **Job IDs are numeric and the URL slug is cosmetic**: the canonical
      posting URL is `/job/{slug}/{id}/` where `{slug}` is a human-readable,
      SEO-only path segment (e.g. the city and title). The server resolves
      the posting from `{id}` alone and ignores `{slug}`'s content, so a
      client holding only the numeric ID can always reach the detail page
      via `/job/{id}/{id}/` (repeating the ID as the slug). A single
      `/job/{id}/` segment (no slug at all) is rejected.
    - **Not-found is a redirect, not a 404**: an unknown or expired job ID
      302s to `/errorpage/?errortype=Exception`, which itself renders 200.
      Callers must detect "not found" from the final `/errorpage/` URL, not
      merely from the absence of the `itemprop="title"` job-posting marker:
      maintenance, bot-challenge, and changed-template pages may also omit
      that marker.
    - **Search-result fields are stable; detail-page fields are not**: the
      results table's Title and Location columns are a fixed system layout
      present on every tenant observed. The detail page's extra fields
      (department, city, country, shift type, ...) are configured per
      tenant as arbitrary `data-careersite-propertyid` attributes — only
      `title` and `description` are `itemprop`-tagged
      (`http://schema.org/JobPosting` microdata) on every tenant checked;
      other fields (location, employer, posted date) are template-dependent
      and may be entirely absent from the detail page's markup, even when
      present in the search-results row for the same job.
    - **Facet values are tenant-specific and dynamic**: `facetValues`
      returns whatever dimensions that tenant's recruiting admins
      configured (SAP: `country`, `department`, `customfield3` i.e. career
      status; Kellanova: `department`, `country` only; adidas and Eastman:
      none for some queries — `facets.map` is simply `{}`). The dimension
      key doubles as the `/search/` query-parameter suffix:
      `optionsFacetsDD_<key>`. Each option's `name` is the raw value to
      send back in that parameter; `translated` is the display label when
      the platform localizes it (populated for `country`, empty for
      tenant-defined dimensions like `department`).

servers:
  - url: https://jobs.sap.com
    description: >-
      One tenant's custom domain; every SuccessFactors CSB tenant hosts the
      same endpoints on its own domain (see internal/provider/successfactors/companies.yaml).

paths:
  /search/:
    get:
      operationId: search
      summary: Search job postings (server-rendered HTML table)
      description: |
        Returns an HTML page whose `table` body (`tr.data-row`) lists up to
        25 postings matching the filters, each row carrying the title, the
        `/job/{slug}/{id}/` detail link, and the Location column. A
        `span.paginationLabel` reports the total match count as
        `Results <b>{first}</b> – <b>{last}</b> of <b>{total}</b>`; when a
        query matches nothing, the table and pagination label are both
        absent from the page (the search form and filter dropdowns still
        render, distinguishing genuine zero-results from a broken page).
      parameters:
        - name: q
          in: query
          description: >-
            Free-text keyword search across title and description. Omit or
            leave empty to return all jobs.
          schema:
            type: string
          example: "engineer"
        - name: locationsearch
          in: query
          description: Free-text fuzzy location match (city, region, or country name).
          schema:
            type: string
          example: "Berlin"
        - name: optionsFacetsDD_department
          in: query
          description: >-
            Department/work-area filter. Value must be one of that tenant's
            `department` facet `name`s from the `facetValues` response
            (tenant-defined; not a fixed enum).
          schema:
            type: string
          example: "Software-Design and Development"
        - name: optionsFacetsDD_customfield3
          in: query
          description: >-
            Career-status filter (observed on SAP as Executive/Graduate/
            Management/Professional/Student/Vocational). Tenant-defined
            like `optionsFacetsDD_department`; some tenants configure this
            dimension under a different facet key entirely, in which case
            this parameter name would differ — see `facetValues`.
          schema:
            type: string
          example: "Professional"
        - name: optionsFacetsDD_country
          in: query
          description: >-
            Country filter. Value is the ISO 3166-1 alpha-2 code (the
            facet's `name`), e.g. `DE`, `US` — not the translated display
            name.
          schema:
            type: string
          example: "DE"
        - name: startrow
          in: query
          description: >-
            Zero-based result offset. The server always returns (up to) 25
            rows starting here; the value need not be a multiple of 25.
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 25
      responses:
        "200":
          description: Server-rendered HTML search-results page.
          content:
            text/html:
              schema:
                type: string

  /job/{slug}/{id}/:
    get:
      operationId: jobDetail
      summary: Get one posting's detail page
      description: |
        Returns an SSR HTML page for one posting. `{slug}` is ignored by the
        server — pass the numeric ID again in its place when only the ID is
        known (`/job/{id}/{id}/`). A missing or expired ID 302s to
        `/errorpage/?errortype=Exception`, itself a 200 page. Clients should
        inspect the final redirect URL to distinguish that case from another
        unrecognized 200 HTML page.
      parameters:
        - name: slug
          in: path
          required: true
          description: >-
            Cosmetic, SEO-only path segment; any non-empty value works,
            including the job ID itself.
          schema:
            type: string
          example: "1414343333"
        - name: id
          in: path
          required: true
          description: Numeric job posting ID.
          schema:
            type: string
            pattern: '^\d+$'
          example: "1414343333"
      responses:
        "200":
          description: |
            HTML detail page. Reliable across every tenant checked:
            - `span[itemprop="title"]` — posting title
            - `span[itemprop="description"] span.jobdescription` — full HTML description

            Present only on some tenants (absent entirely on others' page
            templates, not merely empty):
            - `meta[itemprop="streetAddress"][content]` — location
            - `meta[itemprop="hiringOrganization"][content]` — employer display name
            - `meta[itemprop="datePosted"][content]` — Java `Date.toString()` format, e.g. `Mon Jul 13 00:00:00 UTC 2026`
          content:
            text/html:
              schema:
                type: string
        "302":
          description: >-
            Unknown or expired job ID; redirects to
            `/errorpage/?errortype=Exception`.
          headers:
            Location:
              schema:
                type: string
              example: "/errorpage/?errortype=Exception"

  /services/jobs/options/facetValues/:
    post:
      operationId: facetValues
      summary: List this tenant's filter dimensions and their live option counts
      description: |
        Given the current keyword/location/filter state, returns every
        filter dimension this tenant has configured and, for each, the
        options with at least one matching posting. Re-querying with a
        narrower search narrows the returned counts (and can drop options
        or whole dimensions to zero, hence `facets.map` being `{}` on some
        tenant/query combinations). No authentication or session cookie is
        required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                locationsearch:
                  type: string
                optionsFacetsDD_department:
                  type: string
                optionsFacetsDD_customfield3:
                  type: string
                optionsFacetsDD_country:
                  type: string
              description: >-
                Mirrors the current `/search/` query string; every field is
                present even when empty.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetValuesResponse"

components:
  schemas:
    FacetValuesResponse:
      type: object
      required: [facets]
      properties:
        facets:
          type: object
          required: [map]
          properties:
            map:
              type: object
              description: >-
                Keyed by facet dimension name (tenant-defined, e.g.
                `country`, `department`, `customfield3`). Absent keys mean
                that tenant has no such dimension; an empty object means no
                dimension has any matching option for the current query.
              additionalProperties:
                type: array
                items:
                  $ref: "#/components/schemas/FacetOption"

    FacetOption:
      type: object
      required: [name, count]
      properties:
        name:
          type: string
          description: >-
            The raw value to send back as `optionsFacetsDD_<dimension>=<name>`.
        translated:
          type: string
          description: >-
            Display label, when the platform localizes this dimension
            (populated for `country`; empty string for tenant-defined
            dimensions like `department`, whose `name` is already the
            display label).
        count:
          type: integer
          description: Number of postings matching this option under the current search.
